html {
  height: 100%;
}
body {
  color: #333;
  font: sans-serif;
  height: 100%;
  background:linear-gradient(to bottom, #f6e497 5%, #8a642f 120%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  display: block;
  width: 400px;
  margin: 50px auto ;
}
section {

}
ul {
  margin: 0;
  padding: 0;
}
li * {
  float: left;
}
li, h3 {
  clear:both;
}
input, button {
  outline: none;
}
button {
  background: none;
  border: 0px;
  color: #333;
  font-size: 15px;
  width: 60px;
  margin: 10px 0 0;
  font:  sans-serif;
  cursor: pointer;
}
button:hover {
  color: #333;
}
h3,
label[for="newtask"] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
}
input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: 1px solid #eee;
  background: #fff;
  border-radius: 6px;
  font: sans-serif;
  color: #333;
}
label[for='newtask'] {
  display: block;
  margin: 0 0 20px;
}
input#newtask {
  float: left;
  width: 318px;
}
button:hover {
  color: #801515;
}
li {
  overflow: hidden;
  padding: 10px 0;
  border-bottom: 1px solid #801515;
}
input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
  top: 15px;
}
li > label {
  font-size: 18px;
  line-height: 40px;
  width: 237px;
  padding: 0 0 0 11px;
}
input[type="text"] {
  width: 226px;
}
#completed-tasks label {
  text-decoration: line-through;
  color: #333;
}
ul li input[type=text] {
  display:none;
}
.edititem input[type=text] {
  display:block;
}
.edititem label {
  display:none;
}
