html {
  height: 100%;
}
body {
  color: #333;
  height: 100%;
  background:linear-gradient(to bottom, #f6e497 5%, #8a642f 120%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  display: block;
  width: 25em;
  margin: 5em auto ;
}
ul {
  margin: 0;
  padding: 0;
}
li *{
  float: left;
}
button {
  outline: none;
  border-radius: .5em .5em;
  color: #333;
  width: 5em;
  margin: .8em 0 0;
  cursor: pointer;
}
button:hover {
  color: #777;
}
h3 {
  margin: 0;
}
h3,
label[for="newtask"] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 1.8em 0 .8em;
}
input {
  outline: none;
  margin: 0;
  font-size: 1.2em;
  line-height: 1.2em;
  height: 1.2em;
  padding: .5em;
  border: 1px solid #eee;
  background: #fff;
  border-radius: 6px;
  font: sans-serif;
  color: #333;
}
label[for="newtask"] {
  display: block;
  margin: 0 0 1.2em 0;
}
#newtask {
  float: left;
  width: 318px;
}
button:hover {
  color: #801515;
}
li {
  overflow: hidden;
  padding: 10px 0;
  border-bottom: 1px solid #801515;
}
input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
  top: 15px;
}
li > label {
  font-size: 18px;
  line-height: 40px;
  width: 13em;
  padding: 0 0 0 11px;
}
#completed-tasks {
  text-decoration: line-through;
  color: #333;
}
ul li input[type=text] {
  display:none;
}
.edititem input[type=text] {
  display:block;
}
.edititem label {
  display:none;
}
